<div class="container">
    <span class="subtitle">My List</span>
    <div class="row">
        <img *ngFor="let video of dataService.videos$ | async" [src]="video.thumbnail" alt="thumbnail"
            (click)="selectVideo(video)">
    </div>

    <span class="subtitle">New arrivals</span>
    <div class="row">
        <img *ngFor="let video of dataService.videos$ | async | filter: 'new'" [src]="video.thumbnail" alt="thumbnail"
        (click)="selectVideo(video)">
    </div>

    <span class="subtitle">Tutorials</span>
    <div class="row">
        <img *ngFor="let video of dataService.videos$ | async | filter: 'tutorial'" [src]="video.thumbnail" alt="thumbnail"
        (click)="selectVideo(video)">
    </div>

    <span class="subtitle">Short Films</span>
    <div class="row">
        <img *ngFor="let video of dataService.videos$ | async | filter: 'short'" [src]="video.thumbnail" alt="thumbnail"
        (click)="selectVideo(video)">
    </div>
</div>