.container {
    position: relative;
    top: 90px;
}

.subtitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 20px;
    transition: all 225ms ease-in-out;
}

.row {
    display: flex;
    gap: 1rem;
    background-color: var(--bg-dark);
    width: 100%;
    height: 220px;
    padding: 20px;
    overflow-x: scroll;
    box-sizing: border-box;

    ::-webkit-scrollbar {
        display: none;
    }

    scrollbar-width: none;

    img {
        cursor: pointer;
        transition: all 225ms ease-in-out;

        &:hover {
            transform: translateX(20px) scale(1.2);
            background-color: var(--bg-dark);
            transition: all 225ms ease-in-out;
        }
    }
}

@media screen and (width > 768px) {
    .subtitle {
        font-size: 2rem;
        transition: all 225ms ease-in-out;
    }

}