<div class="billboard" *ngIf="dataService.selectedVideo$ | async as video" [style.background-image]="'linear-gradient(to bottom, black, rgba(0, 0, 0, 0) 100px), linear-gradient(to top, black, rgba(0, 0, 0, 0) 100px), url(' + video.thumbnail + ')'">
    <div class="billboard-content">
        <span class="billboard-title">{{ video.title }}</span>
        <div class="billboard-info">
            <div class="row">
                <span>Rating</span>
                <div class="star">
                    <img src="/assets/img/full_star.svg" alt="full star rating">
                    <img src="/assets/img/full_star.svg" alt="full star rating" *ngIf="video.user_rating > 1.7">
                    <img src="/assets/img/half_star.svg" alt="half star rating" *ngIf="video.user_rating >= 1.3 && video.user_rating < 1.7">
                    <img src="/assets/img/empty_star.svg" alt="empty star rating" *ngIf="video.user_rating < 1.3">
                    <img src="/assets/img/full_star.svg" alt="full star rating" *ngIf="video.user_rating > 2.7">
                    <img src="/assets/img/half_star.svg" alt="half star rating" *ngIf="video.user_rating >= 2.3 && video.user_rating < 2.7">
                    <img src="/assets/img/empty_star.svg" alt="empty star rating" *ngIf="video.user_rating < 2.3">
                    <img src="/assets/img/full_star.svg" alt="full star rating" *ngIf="video.user_rating > 3.7">
                    <img src="/assets/img/half_star.svg" alt="half star rating" *ngIf="video.user_rating >= 3.3 && video.user_rating < 3.7">
                    <img src="/assets/img/empty_star.svg" alt="empty star rating" *ngIf="video.user_rating < 3.3">
                    <img src="/assets/img/full_star.svg" alt="full star rating" *ngIf="video.user_rating > 4.7">
                    <img src="/assets/img/half_star.svg" alt="half star rating" *ngIf="video.user_rating >= 4.3 && video.user_rating < 4.7">
                    <img src="/assets/img/empty_star.svg" alt="empty star rating" *ngIf="video.user_rating < 4.3">
                </div>
                <span>{{ video.reviews }} Reviews</span>
            </div>

            <div class="row"><span class="billboard-year">Year</span><span>{{
                    video.release_date | date: 'yyyy' }}</span></div>
            <div class="row"><span class="billboard-duration">Duration</span><span>{{
                    video.duration }} min</span></div>

        </div>
        <div class="billboard-buttons">
            <button primaryButton (click)="playMovie()">Play</button>
            <button secondaryButton (click)="goToInfo()">More Info</button>
            <button class="hide-mobile" *ngIf="!watchlist.includes(video.id)" secondaryButton (click)="addVideoToList(video.id)">+ Add List</button>
            <button class="hide-mobile" *ngIf="watchlist.includes(video.id)" secondaryButton (click)="removeVideoFromList(video.id)">Remove from List</button>
        </div>
        <div class="billboard-description">
            {{ video.description_short }}
        </div>
    </div>

</div>

<app-container></app-container>