<div class="billboard" *ngIf="dataService.selectedVideo.value" [style.background-image]="'linear-gradient(to bottom, black, rgba(0, 0, 0, 0) 100px), linear-gradient(to top, black, rgba(0, 0, 0, 0) 100px), url(' + dataService.selectedVideo.value.thumbnail + ')'">
    <div class="billboard-content">
        <span class="billboard-title">{{ dataService.selectedVideo.value.title }}</span>
        <div class="billboard-info">
            <div class="row">
                <span>Rating</span>
                <div *ngIf="dataService.selectedVideo.value.user_rating < 1.3">
                    <!-- 1 Star -->
                    <img src="/assets/img/full_star.svg" alt="full star rating">
                    <img src="/assets/img/empty_star.svg" alt="empty star rating">
                    <img src="/assets/img/empty_star.svg" alt="empty star rating">
                    <img src="/assets/img/empty_star.svg" alt="empty star rating">
                    <img src="/assets/img/empty_star.svg" alt="empty star rating">
                </div>
                <div
                    *ngIf="dataService.selectedVideo.value.user_rating >= 1.3 && dataService.selectedVideo.value.user_rating < 1.7">
                    <!-- 1.5 Stars -->
                    <img src="/assets/img/full_star.svg" alt="full star rating">
                    <img src="/assets/img/half_star.svg" alt="half star rating">
                    <img src="/assets/img/empty_star.svg" alt="empty star rating">
                    <img src="/assets/img/empty_star.svg" alt="empty star rating">
                    <img src="/assets/img/empty_star.svg" alt="empty star rating">
                </div>
                <div
                    *ngIf="dataService.selectedVideo.value.user_rating >= 1.7 && dataService.selectedVideo.value.user_rating < 2.3">
                    <!-- 2 Stars -->
                    <img src="/assets/img/full_star.svg" alt="full star rating">
                    <img src="/assets/img/full_star.svg" alt="full star rating">
                    <img src="/assets/img/empty_star.svg" alt="empty star rating">
                    <img src="/assets/img/empty_star.svg" alt="empty star rating">
                    <img src="/assets/img/empty_star.svg" alt="empty star rating">
                </div>
                <div
                    *ngIf="dataService.selectedVideo.value.user_rating >= 2.3 && dataService.selectedVideo.value.user_rating < 2.7">
                    <!-- 2.5 Stars -->
                    <img src="/assets/img/full_star.svg" alt="full star rating">
                    <img src="/assets/img/full_star.svg" alt="full star rating">
                    <img src="/assets/img/half_star.svg" alt="half star rating">
                    <img src="/assets/img/empty_star.svg" alt="empty star rating">
                    <img src="/assets/img/empty_star.svg" alt="empty star rating">
                </div>
                <div
                    *ngIf="dataService.selectedVideo.value.user_rating >= 2.7 && dataService.selectedVideo.value.user_rating < 3.3">
                    <!-- 3 Stars -->
                    <img src="/assets/img/full_star.svg" alt="full star rating">
                    <img src="/assets/img/full_star.svg" alt="full star rating">
                    <img src="/assets/img/full_star.svg" alt="full star rating">
                    <img src="/assets/img/empty_star.svg" alt="empty star rating">
                    <img src="/assets/img/empty_star.svg" alt="empty star rating">
                </div>
                <div
                    *ngIf="dataService.selectedVideo.value.user_rating >= 3.3 && dataService.selectedVideo.value.user_rating < 3.7">
                    <!-- 3.5 Stars -->
                    <img src="/assets/img/full_star.svg" alt="full star rating">
                    <img src="/assets/img/full_star.svg" alt="full star rating">
                    <img src="/assets/img/full_star.svg" alt="full star rating">
                    <img src="/assets/img/half_star.svg" alt="half star rating">
                    <img src="/assets/img/empty_star.svg" alt="empty star rating">
                </div>
                <div
                    *ngIf="dataService.selectedVideo.value.user_rating >= 3.7 && dataService.selectedVideo.value.user_rating < 4.3">
                    <!-- 4 Stars -->
                    <img src="/assets/img/full_star.svg" alt="full star rating">
                    <img src="/assets/img/full_star.svg" alt="full star rating">
                    <img src="/assets/img/full_star.svg" alt="full star rating">
                    <img src="/assets/img/full_star.svg" alt="full star rating">
                    <img src="/assets/img/empty_star.svg" alt="empty star rating">
                </div>
                <div
                    *ngIf="dataService.selectedVideo.value.user_rating >= 4.3 && dataService.selectedVideo.value.user_rating < 4.7">
                    <!-- 4.5 Stars -->
                    <img src="/assets/img/full_star.svg" alt="full star rating">
                    <img src="/assets/img/full_star.svg" alt="full star rating">
                    <img src="/assets/img/full_star.svg" alt="full star rating">
                    <img src="/assets/img/full_star.svg" alt="full star rating">
                    <img src="/assets/img/half_star.svg" alt="half star rating">
                </div>
                <div *ngIf="dataService.selectedVideo.value.user_rating >= 4.7">
                    <!-- 5 Stars -->
                    <img src="/assets/img/full_star.svg" alt="full star rating">
                    <img src="/assets/img/full_star.svg" alt="full star rating">
                    <img src="/assets/img/full_star.svg" alt="full star rating">
                    <img src="/assets/img/full_star.svg" alt="full star rating">
                    <img src="/assets/img/full_star.svg" alt="full star rating">
                </div>
                <span>{{ dataService.selectedVideo.value.reviews }} Reviews</span>
            </div>

            <div class="row"><span class="billboard-year">Year</span><span>{{
                    dataService.selectedVideo.value.release_date | date: 'yyyy' }}</span></div>
            <div class="row"><span class="billboard-duration">Duration</span><span>{{
                    dataService.selectedVideo.value.duration }} min</span></div>

        </div>
        <div class="billboard-buttons">
            <button primaryButton (click)="playMovie()">Play</button>
            <button secondaryButton (click)="goToInfo()">More Info</button>
        </div>
        <div class="billboard-description">
            {{ dataService.selectedVideo.value.description_short }}
        </div>
    </div>

</div>

<app-container></app-container>