<div class="info" *ngIf="dataService.selectedVideo$ | async as video">

    <div class="bg-image"
        [style.background-image]="'linear-gradient(to bottom, black, rgba(0, 0, 0, 0) 100px), linear-gradient(to top, black, rgba(0, 0, 0, 0) 100px), url(' + video.thumbnail + ')'">

    </div>

    <div class="info-box" >

        <div class="row">
            <button secondaryButton (click)="goToMain()">Back</button>
            <button primaryButton (click)="playMovie()">Play</button>
            <button *ngIf="!watchlist.includes(video.id)" secondaryButton (click)="addVideoToList(video.id)">+ Add List</button>
            <button *ngIf="watchlist.includes(video.id)" secondaryButton (click)="removeVideoFromList(video.id)">Remove from List</button>
        </div>


        <span class="title">{{ video.title }}</span>

        <div class="row">
            <span>Rating</span>

            <div>
                <div class="star" *ngIf="!isRating" (mouseenter)="toggleRating($event)">
                    <img src="/assets/img/full_star.svg" alt="full star rating">
                    <img src="/assets/img/full_star.svg" alt="full star rating" *ngIf="video.user_rating > 1.7">
                    <img src="/assets/img/half_star.svg" alt="half star rating"
                        *ngIf="video.user_rating >= 1.3 && video.user_rating < 1.7">
                    <img src="/assets/img/empty_star.svg" alt="empty star rating" *ngIf="video.user_rating < 1.3">
                    <img src="/assets/img/full_star.svg" alt="full star rating" *ngIf="video.user_rating > 2.7">
                    <img src="/assets/img/half_star.svg" alt="half star rating"
                        *ngIf="video.user_rating >= 2.3 && video.user_rating < 2.7">
                    <img src="/assets/img/empty_star.svg" alt="empty star rating" *ngIf="video.user_rating < 2.3">
                    <img src="/assets/img/full_star.svg" alt="full star rating" *ngIf="video.user_rating > 3.7">
                    <img src="/assets/img/half_star.svg" alt="half star rating"
                        *ngIf="video.user_rating >= 3.3 && video.user_rating < 3.7">
                    <img src="/assets/img/empty_star.svg" alt="empty star rating" *ngIf="video.user_rating < 3.3">
                    <img src="/assets/img/full_star.svg" alt="full star rating" *ngIf="video.user_rating > 4.7">
                    <img src="/assets/img/half_star.svg" alt="half star rating"
                        *ngIf="video.user_rating >= 4.3 && video.user_rating < 4.7">
                    <img src="/assets/img/empty_star.svg" alt="empty star rating" *ngIf="video.user_rating < 4.3">
                </div>

                <div class="star" *ngIf="isRating" (mouseleave)="toggleRating($event)">
                    <img src="/assets/img/full_star.svg" #onestar alt="full star rating"
                        (mouseenter)="rateMovie($event, 1)" (click)="sendRating($event)">

                    <img src="/assets/img/full_star.svg" #twostar alt="full star rating"
                        (mouseenter)="rateMovie($event, 2)" *ngIf="rating >= 2" (click)="sendRating($event)">
                    <img src="/assets/img/empty_star.svg" #onestar alt="empty star rating"
                        (mouseenter)="rateMovie($event, 2)" *ngIf="rating < 2">

                    <img src="/assets/img/full_star.svg" #threestar alt="full star rating"
                        (mouseenter)="rateMovie($event, 3)" *ngIf="rating >= 3" (click)="sendRating($event)">
                    <img src="/assets/img/empty_star.svg" #onestar alt="empty star rating"
                        (mouseenter)="rateMovie($event, 3)" *ngIf="rating < 3">

                    <img src="/assets/img/full_star.svg" #fourstar alt="full star rating"
                        (mouseenter)="rateMovie($event, 4)" *ngIf="rating >= 4" (click)="sendRating($event)">
                    <img src="/assets/img/empty_star.svg" #onestar alt="empty star rating"
                        (mouseenter)="rateMovie($event, 4)" *ngIf="rating < 4">

                    <img src="/assets/img/full_star.svg" #fivestar alt="full star rating"
                        (mouseenter)="rateMovie($event, 5)" *ngIf="rating >= 5" (click)="sendRating($event)">
                    <img src="/assets/img/empty_star.svg" #onestar alt="empty star rating"
                        (mouseenter)="rateMovie($event, 5)" *ngIf="rating < 5">
                </div>

            </div>


            <span *ngIf="video.reviews > 1">{{ video.reviews }} Reviews</span>
            <span *ngIf="video.reviews <= 1">{{ video.reviews }} Review</span>
        </div>

        <div class="row extra-gap">
            <span>{{ video.video_quality || 'HD' }}</span>
            <span>{{ video.sound_quality || '2.1 Stereo'}}</span>
            <span>Language: {{ video.language | language }}</span>
            <span>Subtitles:</span>
            <span *ngFor="let sub of video.subtitles | language">{{ sub }}</span>
            <span *ngIf="video.subtitles.length == 0">None</span>

        </div>

        <div class="row extra-gap">
            <span>Country: {{ video.country_of_origin | country }}</span>
            <span>Year: {{ video.release_date | date: 'yyyy' }}</span>
            <span>Length: {{ video.duration || 'No info' }} mins</span>
            <span>Rated: {{ video.age_rating || 'No info' }}</span>
        </div>

        <div class="row extra-gap">
            <span>Genres:</span> <span *ngFor="let genre of video.genres | genre">{{ genre }}</span>
            <span>Actors:</span> <span *ngFor="let actor of video.actors | actor">{{ actor }}</span>
        </div>

        <span class="description">{{ video.description_long || 'No info' }}</span>
    </div>

</div>