<div class="info">
    <div class="bg-image"
        [style.background-image]="'linear-gradient(to bottom, black, rgba(0, 0, 0, 0) 100px), linear-gradient(to top, black, rgba(0, 0, 0, 0) 100px), url(' + dataService.selectedVideo.value?.thumbnail + ')'">

    </div>


    <div class="info-box" *ngIf="dataService.selectedVideo.value">
        <div class="row">
            <button secondaryButton (click)="goToMain()">Back</button>
            <button primaryButton (click)="playMovie()">Play</button>
        </div>


        <span class="title">{{ dataService.selectedVideo.value.title }}</span>

        <div class="row">
            <span>Rating</span>
            <div *ngIf="dataService.selectedVideo.value.user_rating < 1.3">
                <!-- 1 Star -->
                <img src="/assets/img/full_star.svg" alt="full star rating">
                <img src="/assets/img/empty_star.svg" alt="empty star rating">
                <img src="/assets/img/empty_star.svg" alt="empty star rating">
                <img src="/assets/img/empty_star.svg" alt="empty star rating">
                <img src="/assets/img/empty_star.svg" alt="empty star rating">
            </div>
            <div
                *ngIf="dataService.selectedVideo.value.user_rating >= 1.3 && dataService.selectedVideo.value.user_rating < 1.7">
                <!-- 1.5 Stars -->
                <img src="/assets/img/full_star.svg" alt="full star rating">
                <img src="/assets/img/half_star.svg" alt="half star rating">
                <img src="/assets/img/empty_star.svg" alt="empty star rating">
                <img src="/assets/img/empty_star.svg" alt="empty star rating">
                <img src="/assets/img/empty_star.svg" alt="empty star rating">
            </div>
            <div
                *ngIf="dataService.selectedVideo.value.user_rating >= 1.7 && dataService.selectedVideo.value.user_rating < 2.3">
                <!-- 2 Stars -->
                <img src="/assets/img/full_star.svg" alt="full star rating">
                <img src="/assets/img/full_star.svg" alt="full star rating">
                <img src="/assets/img/empty_star.svg" alt="empty star rating">
                <img src="/assets/img/empty_star.svg" alt="empty star rating">
                <img src="/assets/img/empty_star.svg" alt="empty star rating">
            </div>
            <div
                *ngIf="dataService.selectedVideo.value.user_rating >= 2.3 && dataService.selectedVideo.value.user_rating < 2.7">
                <!-- 2.5 Stars -->
                <img src="/assets/img/full_star.svg" alt="full star rating">
                <img src="/assets/img/full_star.svg" alt="full star rating">
                <img src="/assets/img/half_star.svg" alt="half star rating">
                <img src="/assets/img/empty_star.svg" alt="empty star rating">
                <img src="/assets/img/empty_star.svg" alt="empty star rating">
            </div>
            <div
                *ngIf="dataService.selectedVideo.value.user_rating >= 2.7 && dataService.selectedVideo.value.user_rating < 3.3">
                <!-- 3 Stars -->
                <img src="/assets/img/full_star.svg" alt="full star rating">
                <img src="/assets/img/full_star.svg" alt="full star rating">
                <img src="/assets/img/full_star.svg" alt="full star rating">
                <img src="/assets/img/empty_star.svg" alt="empty star rating">
                <img src="/assets/img/empty_star.svg" alt="empty star rating">
            </div>
            <div
                *ngIf="dataService.selectedVideo.value.user_rating >= 3.3 && dataService.selectedVideo.value.user_rating < 3.7">
                <!-- 3.5 Stars -->
                <img src="/assets/img/full_star.svg" alt="full star rating">
                <img src="/assets/img/full_star.svg" alt="full star rating">
                <img src="/assets/img/full_star.svg" alt="full star rating">
                <img src="/assets/img/half_star.svg" alt="half star rating">
                <img src="/assets/img/empty_star.svg" alt="empty star rating">
            </div>
            <div
                *ngIf="dataService.selectedVideo.value.user_rating >= 3.7 && dataService.selectedVideo.value.user_rating < 4.3">
                <!-- 4 Stars -->
                <img src="/assets/img/full_star.svg" alt="full star rating">
                <img src="/assets/img/full_star.svg" alt="full star rating">
                <img src="/assets/img/full_star.svg" alt="full star rating">
                <img src="/assets/img/full_star.svg" alt="full star rating">
                <img src="/assets/img/empty_star.svg" alt="empty star rating">
            </div>
            <div
                *ngIf="dataService.selectedVideo.value.user_rating >= 4.3 && dataService.selectedVideo.value.user_rating < 4.7">
                <!-- 4.5 Stars -->
                <img src="/assets/img/full_star.svg" alt="full star rating">
                <img src="/assets/img/full_star.svg" alt="full star rating">
                <img src="/assets/img/full_star.svg" alt="full star rating">
                <img src="/assets/img/full_star.svg" alt="full star rating">
                <img src="/assets/img/half_star.svg" alt="half star rating">
            </div>
            <div *ngIf="dataService.selectedVideo.value.user_rating >= 4.7">
                <!-- 5 Stars -->
                <img src="/assets/img/full_star.svg" alt="full star rating">
                <img src="/assets/img/full_star.svg" alt="full star rating">
                <img src="/assets/img/full_star.svg" alt="full star rating">
                <img src="/assets/img/full_star.svg" alt="full star rating">
                <img src="/assets/img/full_star.svg" alt="full star rating">
            </div>
            <span>{{ dataService.selectedVideo.value.reviews }} Reviews</span>
        </div>

        <div class="row extra-gap">
            <span>{{ dataService.selectedVideo.value.video_quality }}</span>
            <span>{{ dataService.selectedVideo.value.sound_quality }}</span>
            <span>Language: {{ dataService.selectedVideo.value.language }}</span>
            <span>Subtitles:</span>
            <span *ngFor="let sub of dataService.selectedVideo.value.subtitles">{{ sub }}</span>

        </div>

        <div class="row extra-gap">
            <span>Country: {{ dataService.selectedVideo.value.country_of_origin }}</span>
            <span>Year: {{ dataService.selectedVideo.value.release_date | date: 'yyyy' }}</span>
            <span>Length: {{ dataService.selectedVideo.value.duration }} mins</span>
            <span>Rated: {{ dataService.selectedVideo.value.age_rating }}</span>
        </div>

        <div class="row extra-gap">
            <span>Genres:</span> <span *ngFor="let genre of dataService.selectedVideo.value.genres">{{ genre }}</span>
            <span>Actors:</span> <span *ngFor="let actor of dataService.selectedVideo.value.actors">{{ actor }}</span>
        </div>

        <span class="description">{{ dataService.selectedVideo.value.description_long }}</span>
    </div>
</div>