<div class="billboard">
    <div class="billboard-content">
        <span class="billboard-title">Movie Title</span>
        <div class="billboard-info">
            <div class="row">
                <span>Rating</span>
                <div><img src="/assets/img/full_star.svg" alt="full star rating"><img src="/assets/img/full_star.svg"
                        alt="full star rating"><img src="/assets/img/full_star.svg" alt="full star rating"><img
                        src="/assets/img/half_star.svg" alt="half star rating"><img src="/assets/img/empty_star.svg"
                        alt="empty star rating">
                </div>
                <span>215 Reviews</span>
            </div>

            <div class="row"><span class="billboard-year">Year</span><span>2024</span></div>
            <div class="row"><span class="billboard-duration">Duration</span><span>243 min</span></div>
            
        </div>
        <div class="billboard-buttons">
            <button primaryButton>Play</button>
            <button secondaryButton>+ My List</button>
        </div>
        <div class="billboard-description">
            This is a short description of the movie
        </div>
    </div>

</div>