.center-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    margin: 0 auto;
    object-fit: cover;
    z-index: -1;
    opacity: 0.3;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;

    h1 {
        font-size: 2rem;
        font-weight: 600;
        color: var(--dark-primary);
        cursor: pointer;
    }
}

.login-container {
    height: fit-content;
    padding: 4rem;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba($color: black, $alpha: .7);
    border-radius: 4px;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 0;
    color: var(--dark-color);
}

p {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--dark-color);
}

.btn-grp {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

input {
    width: 100%;
    height: 40px;
    padding-left: 1rem;
    border: 1px solid var(--dark-tertiary);
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 400;
    color: var(--dark-color);
    background-color: rgba($color: #424242, $alpha: .4);
}

span {
    cursor: pointer;
}

.warning {
    position: absolute;
    bottom: 5%;
    left: calc(50% - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    padding: 1rem;
    border: 1px solid var(--dark-tertiary);
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 400;
    color: var(--dark-color);
    background-color: var(--dark-primary);
    animation: moveUp 1s forwards;
}

.down {
    animation: moveDown 1s forwards;
}

@keyframes moveUp {
    from {
        transform: translateY(500px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes moveDown {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(500px);
    }
}

@media screen and (width > 1200px) {
    header {
        width: 1024px;
        align-self: center;
    }
    
}