/* You can add global styles to this file, and also import other style files */
:root {
    --bg-dark: #000000;
    --bg-dark-1: #222;
    --bg-dark-2: #333;
    --dark-color: #fff;
    --dark-primary: #e50914;
    --dark-secondary: #666;
    --dark-tertiary: #999;
    --dark-warn: #f44336;
    --dark-accent: #ff9800;
}

@font-face {
    font-family: 'nohemi';
    src: url('/assets/fonts/Nohemi-Medium.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html  body {
    margin: 0;
    font-family:'nohemi', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

.dark {
    background-color: var(--bg-dark);
}

.light {
    background-color: var(--bg-light);
}