/* You can add global styles to this file, and also import other style files */
:root {
    --bg-dark: #000000;
    --bg-dark-1: #222;
    --bg-dark-2: #333;
    --bg-light: #fff;
    --dark-color: #fff;
    --dark-primary: #e50914;
    --dark-primary-hover: #aa060f;
    --dark-secondary: #333;
    --dark-tertiary: #222;
    --dark-warn: #f44336;
    --dark-accent: #ff9800;
    --dark-success: #4caf50;
}

@font-face {
    font-family: 'nohemi';
    src: url('/assets/fonts/Nohemi-Medium.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html  body {
    margin: 0;
    font-family:'nohemi', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-dark);
    color: var(--dark-color);

    overflow: hidden;
}